.form-card {
  padding-block: 30px;
  padding-right: 40px;
}

@media (max-width: 1200px) {
  .form-card {
    padding-top: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-card h1 {
  color: #8882db;
  font-size: 30px;
}

@media (max-width: 1200px) {
  .form-card h1 + p {
    text-align: center;
    margin: 10px auto;
    padding: 0 10px;
  }
}

.form-card form {
  margin: 15px 20px;
}

.form-card form .input-box {
  margin-block: 11px;
}

@media (max-width: 1200px) {
  .form-card form {
    width: 65%;
    min-width: 260px;
  }
}

.form-card .check-not {
  display: flex;
  align-items: center;
  margin-block: 10px;
  position: relative;
}

.form-card .check-not input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

.form-card .check-not label {
  margin-left: 25px;
  position: relative;
  cursor: pointer;
}

.form-card .against-terms label {
  color: #ef5350;
}

.form-card .check-not label::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid var(--formMainColor);
  border-radius: var(--minRadius);
}
.form-card .against-terms label::before {
  border-color: #ef5350;
}

.form-card .against-terms input:checked + label::before {
  border-color: var(--formMainColor);
}

.form-card .against-terms input:checked + label {
  color: var(--formMainColor);
}

.form-card .check-not input:checked + label::before {
  box-shadow: 0 0 5px #bdbdbdc9;
}

.form-card .check-not input:checked + label::after {
  content: "✓";
  position: absolute;
  left: -21px;
  top: 50%;
  transform: translateY(-55%);
  font-size: 15px;
  font-weight: bold;
  color: #999;
}

.linker {
  text-decoration: underline;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
  margin-left: 3px;
}

.submit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .submit {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 1200px) {
  .submit > .light-text {
    text-align: center;
    margin-block: 13px;
  }
}

.submit input[type="submit"]:hover {
  transform: scale(1.02);
}

.sign-with-flag > .light-text {
  position: relative;
  font-size: 14px;
  text-align: center;
  margin-block: 15px;
}

.sign-with-flag > .light-text::before,
.sign-with-flag > .light-text::after {
  content: "";
  height: 1.5px;
  width: 33%;
  background: #50cae2;
  border-radius: var(--minRadius);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .sign-with-flag > .light-text::before,
  .sign-with-flag > .light-text::after {
    width: 32%;
  }
}

.sign-with-flag > .light-text::before {
  left: 0;
}

.sign-with-flag > .light-text::after {
  right: 0;
}

.sign-with-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  gap: 10px;
}

.sign-with-links > div {
  --dimentions: 30px;
  width: var(--dimentions);
  height: var(--dimentions);
  background: linear-gradient(287deg, #50cae2, #642f97);
  border-radius: 50%;
  transition: var(--mainAnimationDuration);
}

.sign-with-links > div:hover {
  transform: scale(1.1);
}
